{% extends "base.html" %}

{% block title %}
Add customer
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark" style="width: 280px;">    
    
  <!--<a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">-->   
  <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none bi me-2 fs-4"><svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>{{ current_user.username }}</span>
  <!--</a>-->

  <li class="border-top my-3"></li>

  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
        User
      </button>
      <div class="collapse" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">Overview</a></li>
          <li><a href="{{ url_for('admin.signup') }}" class="link-light rounded">Add user</a></li>
          <li><a href="#" class="link-light rounded">Remove user</a></li>            
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Customer
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">Overview</a></li>
          <li><a href="{{ url_for('customer.add') }}" class="link-light rounded">Add</a></li>
          <li><a href="{{ url_for('customer.remove') }}" class="link-light rounded">Remove</a></li>
          <li><a href="{{ url_for('customer.modify') }}" class="link-light rounded">Modify</a></li>
          <li><a href="#" class="link-light rounded">Taxes</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Billing
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">Overview</a></li>
          <li><a href="#" class="link-light rounded">New</a></li>            
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">            
          <li><a href="#" class="link-light rounded">Profile</a></li>            
          <li><a href="#" class="link-light rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>


<div class="container col-xl-12 col-xxl-12 px-4 py-5">
  <div class="row g-lg-5 py-5">
    <div class="col-lg-5 text-center text-lg-start">
      <!-- <h1 class="display-4 fw-bold lh-1 mb-3">Application Signup</h1> -->
      <p class="col-lg-10 fs-4">Please enter customer details</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-7">
      <form action="{{ url_for('customer.add') }}" method="POST" class="row g-3 rounded-3 bg-light">
        {{ form.csrf_token() }}
        <div class="col-md-6">
          {{ form.first_name.label }}
          {{ form.first_name(class="form-control", id="floatingInput") }}          
          {% for error in form.first_name.errors %}
          <small class="form-text text-muted">{{ error }}</small>    
          {% endfor %}          
        </div>

        <div class="col-md-6">
          {{ form.last_name.label }}
          {{ form.last_name(class="form-control", id="floatingInput") }}          
          {% for error in form.last_name.errors %}
          <small class="form-text text-muted">{{ error }}</small>    
          {% endfor %}          
        </div>

        <div class="col-md-6">
          {{ form.customer_type.label }}
          {{ form.customer_type(class="form-control", id="floatingInput") }}                    
        </div>

        <div class="col-md-6">
          {{ form.dob.label }}
          {{ form.dob(class="form-control", id="floatingInput") }}          
          {% for error in form.dob.errors %}
          <small class="form-text text-muted">{{ error }}</small>    
          {% endfor %}          
        </div>    

        <div class="col-md-2">
          {{ form.country_code.label }}
          {{ form.country_code(class="form-control", id="floatingInput") }}                         
        </div>   

        <div class="col-md-4">
          {{ form.phone.label }}
          {{ form.phone(class="form-control", id="floatingInput") }}          
          {% for error in form.phone.errors %}
          <small class="form-text text-muted">{{ error }}</small>    
          {% endfor %}          
        </div>   

        <div class="col-md-6">
          {{ form.email.label }}
          {{ form.email(class="form-control", id="floatingInput") }}          
          {% for error in form.email.errors %}
          <small class="form-text text-muted">{{ error }}</small>    
          {% endfor %}   
        </div>      

        <hr class="my-4">
        
        <small class="text-muted text-center">By clicking add, the customer agrees to the terms of use.</small>
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          {{ form.submit(class="w-100 btn btn-primary") }}           
        </div>
      </form>      
    </div>
  </div>
</div>
{% endblock %}
