{% extends "base.html" %}

{% block title %}
User Overview
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{{ url_for('static', filename='css/sidebars.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row align-self-start gx-1 mx-1">
  {% if current_user.is_anonymous %}
  {% else %}
  <div class="col-md-3 d-flex flex-column flex-shrink-0 bg-dark px-2 border"> 
    <a href="{{ url_for('user.dashboard', username=current_user.username) }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none btn">
    <span class="bi me-2 fs-4"><i class="fa-solid fa-user fa-fw"></i>&nbsp;{{ current_user.username }}</span>
    </a>

    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          User
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{{ url_for('user.user_overview') }}" class="link-light rounded"><i class="fa-solid fa-layer-group fa-fw"></i>&nbsp;&nbsp;Overview</a></li>
            <li><a href="{{ url_for('user.signup') }}" class="link-light rounded"><i class="fa-solid fa-user-plus fa-fw"></i>&nbsp;&nbsp;Add user</a></li>
            <li><a href="{{ url_for('user.search') }}" class="link-light rounded"><i class="fa-solid fa-magnifying-glass fa-fw"></i>&nbsp;&nbsp;Search user</a></li>
            <li><a href="{{ url_for('user.remove') }}" class="link-light rounded"><i class="fa-solid fa-user-minus fa-fw"></i>&nbsp;&nbsp;Remove user</a></li>            
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Customer
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{{ url_for('customer.customer_overview') }}" class="link-light rounded"><i class="fa-solid fa-layer-group fa-fw"></i>&nbsp;&nbsp;Overview</a></li>
            <li><a href="{{ url_for('customer.add') }}" class="link-light rounded"><i class="fa-solid fa-square-plus fa-fw"></i>&nbsp;&nbsp;Add</a></li>
            <li><a href="{{ url_for('customer.search') }}" class="link-light rounded"><i class="fa-solid fa-magnifying-glass fa-fw"></i>&nbsp;&nbsp;Search</a></li>
            <li><a href="{{ url_for('customer.remove') }}" class="link-light rounded"><i class="fa-solid fa-square-minus fa-fw"></i>&nbsp;&nbsp;Remove</a></li>
            <li><a href="{{ url_for('customer.modify') }}" class="link-light rounded"><i class="fa-solid fa-scissors fa-fw"></i>&nbsp;&nbsp;Modify</a></li>
            <li><a href="#" class="link-light rounded"><i class="fa-regular fa-address-card fa-fw"></i>&nbsp;&nbsp;Taxes</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Billing
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-light rounded">Overview</a></li>
            <li><a href="#" class="link-light rounded">New</a></li>            
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> 
            {% if current_user.is_anonymous %}           
              <li><a href="{{ url_for('user.dashboard_no_login') }}" class="nav-link text-white px-2"><i class="fa-solid fa-chart-line fa-fw"></i>&nbsp;Dashboard</a></li>
            {% else %}
              <li><a href="{{ url_for('user.dashboard', username=current_user.username) }}" class="nav-link text-white px-2"><i class="fa-solid fa-chart-line fa-fw"></i>&nbsp;Dashboard</a></li>
              <li><a href="{{ url_for('user.change_password', username=current_user.username) }}" class="nav-link text-white px-2"><i class="fa-solid fa-bars fa-fw"></i>&nbsp;Change password</a></li>     
              <li><a href="{{ url_for('user.logout_home' )}}" class="link-light rounded"><i class="fa-solid fa-right-from-bracket fa-fw"></i>&nbsp;&nbsp;Sign out</a></li>
            {% endif %}  
          </ul>
        </div>
      </li>
    </ul>

    <!-- Sidebar Message -->    
    <div class="text-center text-white">
      <footer class="mt-auto text-white-50">
        <span>Copyright &copy Demeter farms</span>      
      </footer> 
    </div> 
  </div>

  <!-- Main canvas -->
  <div class="col py-5 mx-1">
    
    <!-- row 1 -->
    <div class="col mb-2">
      <div class="card text-center border-primary">
        <div class="card-body">
          <h5><i class="fa-solid fa-users-rectangle fa-fw"></i>&nbsp;&nbsp;Total Customers Served: {}</h5>      
        </div>        
      </div>
    </div>

  	<!-- Row 2 -->
  	<div class="row mb-2">
  		<div class="col-sm-6">
  			<div class="card text-center border-primary">
	  			<div class="card-body">
	  				<h5><i class="fa-regular fa-file-excel fa-fw"></i>&nbsp;Total Returns Filed: {}</h5> 	  				
	  			</div>  			
	  		</div>
  		</div>
  		
  		<div class="col-sm-6">
  			<div class="card text-center border-primary">
	  			<div class="card-body">
	  				<h5><i class="fa-solid fa-coins fa-fw"></i>&nbsp;&nbsp;Total Income: {}</h5>		
	  			</div>
	  		</div>
  		</div>  		
  	</div>    

    <!-- row 3 -->
    <div class="card border-primary mb-2">
      <div class="card-header bg-primary text-white">
        Billing actions available for {{ current_user.username }}
      </div> 
      
      <div class="card-body">        
        <p class="card-text">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <a href="#" class="btn btn-primary"><i class="fa-solid fa-receipt fa-fw"></i>&nbsp;&nbsp;Generate invoice</a>
        <a href="#" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass fa-fw"></i>&nbsp;&nbsp;Search invoice</a> 
        <a href="#" class="btn btn-primary"><i class="fa-solid fa-file-invoice fa-fw"></i>&nbsp;&nbsp;Change invoice</a>
      </div>
    </div>

    <!-- row 4 -->
    <div class="card border-dark mb-2">
      <div class="card-header bg-dark text-white">
        Customer actions available for {{ current_user.username }}
      </div> 
      
      <div class="card-body">        
        <p class="card-text">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <a href="{{ url_for('customer.add') }}" class="btn btn-dark"><i class="fa-solid fa-square-plus fa-fw"></i>&nbsp;&nbsp;Add Customer</a>
        <a href="{{ url_for('customer.search') }}" class="btn btn-dark"><i class="fa-solid fa-magnifying-glass fa-fw"></i>&nbsp;&nbsp;Search Customer</a> 
        <a href="{{ url_for('customer.remove') }}" class="btn btn-dark"><i class="fa-solid fa-square-minus fa-fw"></i>&nbsp;&nbsp;Remove Customer</a>
      </div>
    </div>    

  </div>
  {% endif %}

</div>
{% endblock %}

{% block script %}
<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/sidebars.js') }}"></script>
{% endblock %}