{% extends "base.html" %}

{% block title %}
Contact us
{% endblock %}

{% block styles %}
<!-- Custom styles for this template-->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}


{% block main %}
<div class="row">
  <div class="col-6 col-md-2 col-lg-3 align-self-start">    
  </div>  
  <div class="col-6 col-sm-12 col-md-8 col-lg-6 align-self-center mx-auto my-1">
    <h1 class="display-4 fw-bold lh-1 mb-3 text-center">Contact Demeter Farms</h1>
    <p class="col fs-4 text-center">If your questions are not answered in the <a href="#">FAQs</a> section, please feel free to contact us anytime using the form below.</p>  
    <form action="{{ url_for('admin.contact') }}" method="POST" class="p-4 p-md-5 border rounded-3 bg-light">
      {{ form.hidden_tag() }}
      <div class="form-floating mb-3">            
        {{ form.name(class="form-control", id="floatingInput", placeholder="Name") }}
        {{ form.name.label }}            
      </div>
      
      <div class="form-floating mb-3">
        {{ form.email(class="form-control", id="floatingInput", placeholder="name@example.com") }}    
        {{ form.email.label }}                  
      </div>                 
        
      <div class="form-floating mb-3">
        {{ form.message(class="form-control form-control-lg", rows="8", style="height:100%", id="floatingInput", placeholder="Your message") }}
        {{ form.message.label }}  
        {% if form.message.errors %}
        <ul class="errors">
          {% for error in form.message.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}         
      </div>    

      {{ form.submit(class="w-100 btn btn-lg btn-primary") }}                
      <small class="text-muted text-center">By clicking Send Message, you agree to be contacted by us through any medium that we have on file.</small>
    </form>   
  </div>
  <div class="col-6 col-md-2 col-lg-3 align-self-start">    
  </div>
</div>
{% endblock %}


