{% extends "base.html" %}

{% block title %}
User Dashboard
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/cover.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center text-white bg-dark">
  <main class="px-3">         
      <p class="lead">Welcome {{ user.firstname }} {{ user.lastname }}. Your are logged in as {{ user.username }}</p>        
  </main>
</div>
{% endblock %}

{% block footer %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center text-white bg-dark">
  <footer class="mt-auto text-white-50">
  <p>Adopted by <a href="https://github.com/shyamsrinivasan" class="text-white">Shyam Srinivasan</a> using <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a></p>
</footer>  
</div>
{% endblock %}
